/*Agregar y campo de texto*/
#form-movie-new {
    display: flex;
    flex-direction: column;  /*Para moverlo donde va al buscador de codigo*/
    align-items: center;
  }
.form-container {
    display: flex;
    flex-direction: row;    /*Para moverlo donde va al buscador de codigo*/
    gap: 10px;
    padding: 10px;
  }
  .form-container > div {
    display: flex;
    justify-content: space-between;    /* > Es para indicarle a quien de ese contenedor*/
  }
body{
    background-color: #e0e0e0; 
}

/*PELICULAS*/
#sec_peliculas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto; 
    width: 100%;
    justify-content: space-between;
}
.contenedor-Peliculas {
  margin-bottom: 10px;
}

.contenedor-Peliculas  img {
  width: 100%;
  border-radius: 15px;
}

.contenedor-Peliculas > p {
  color: cornflowerblue;
}
.contenedor-infopelicula {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .contenedor-infopelicula > img {
    width: 100%;
    height: 300px;
    object-fit: contain; /* Es para cubrir el  contenedor */
    border-radius: 15px;
    margin-bottom: 10px;
  }
  .contenedor-infopelicula > h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    height: 50px;
  }
  .contenedor-infopelicula p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 0%;
    margin: 0;
    font-size: 12px;
    color: var(--color-active);
  }
/*BUTTON*/
.paginacion {
    position: static ;
    bottom: 10px ;
    width: auto ;
    display: flex;
    justify-content: center;
    gap: 15px ;
    padding: 10px ;
}

.paginacion button {
    cursor: pointer;
    border:  1px solid #373c3c;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 120px;
    background-color: #460e3e;
    color: white;
    border-radius: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600; /*Ponemos la letras en negrita*/
    transition: .3s ease all;
}

/*Boton Favorito*/
.button {
    background: #7f8c8d;
    color: white;
    display: block ;
    font-size: 15px;
    margin: 15px auto;
    padding: 10px 0;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
}
.button span {
    margin-right: 10px;
}
.button.medium {
    width: 150px;
}
.button.radius {
    border-radius: 50px;
}

.button:hover {
    box-shadow: 0px 0px 0px;
}